button {
    float: right; /* Display the button on the right */
    font-weight: bold; /* Make the text bold */
}
#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px; /* Set the width and height of the background image */
}
